backports.entry-points-selectable==1.1.0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
importlib-metadata==4.8.1
importlib-resources==5.2.2
numpy==1.19.5
platformdirs==2.3.0
six==1.16.0
typing-extensions==3.10.0.2
virtualenv==20.7.2
w1thermsensor==2.0.0
zipp==3.5.0
